<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>멍멍냥냥</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='styles/main.css') }}" />
    <style>
        .main_background {
            background-image: url('{{ url_for('static',filename='images/main_background.png') }}');
            background-size: 100%;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="main_background">
            <div class="login-grid">
                <form action="/login" method="POST" class="form login">
                    <input type="text" name="username">
                    <input type="password" name="password">
                    <input type="submit" value="로그인">
                </div>
            </div>
        </div>
    <!--username email password-->
</body>
</html>