<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='styles/register.css') }}" />
    <style>
        .Sub_Content {
            background-image: url('{{ url_for('static',filename='images/Sub_Content.jpg') }}');
            background-size: 100%;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="Sub_Content">
        <div class="main_bar">
            <div class="input">
            <form action="/" method="post" class="form login">
                <input type="text" name="animalname" placeholder="animalname" onfocus="this.value=''">
                <input type="text" name="animalage" placeholder="animalage" onfocus="this.value=''">
                <input type="text" name="animalkind" placeholder="animalkind" onfocus="this.value=''">
                <input type="text" name="animalweight" placeholder="animalweight" onfocus="this.value=''">
                <input type="text" name="animalsex" placeholder="animalsex" onfocus="this.value=''">
                <input type="submit" value="등록하기">
            </div>
        </div>
    </div>
</body>
</html>